
  - id: 'telegram_frontdoor_open'
    alias: 'Telegram bot to notify on door open'
    trigger:
      platform: state
      entity_id: binary_sensor.front_door_open
      from: 'off'
      to: 'on'
    action:
      - service: notify.telegram_test
        data:
          message: Front door open
      - service: script.rgb_on_red
  - id: 'telegram_frontdoor_close'
    alias: 'Telegram bot to notify on door close'
    trigger:
      platform: state
      entity_id: binary_sensor.front_door_open
      from: 'on'
      to: 'off'
    action:
      - service: notify.telegram_test
        data:
          message: Front door closed
      - service: script.rgb_restore
  - id: 'telegram_conservatory_open'
    alias: 'Telegram bot to notify on conservatory'
    trigger:
      platform: state
      entity_id: binary_sensor.conservatory_activity
      from: 'off'
      to: 'on'
    action:
      service: notify.telegram_test
      data:
        message: Conservatory open
  - id: 'telegram_conservatory_close'
    alias: 'Telegram bot to notify on conservatory close'
    trigger:
      platform: state
      entity_id: binary_sensor.conservatory_activity
      from: 'on'
      to: 'off'
    action:
      service: notify.telegram_test
      data:
        message: Conservatory closed
  - id: 'telegram_basement_open'
    alias: 'Telegram bot to notify on basement open'
    trigger:
      platform: state
      entity_id: binary_sensor.basement_activity
      from: 'off'
      to: 'on'
    action:
      service: notify.telegram_test
      data:
        message: Basement open
  - id: 'telegram_basement_close'
    alias: 'Telegram bot to notify on basement close'
    trigger:
      platform: state
      entity_id: binary_sensor.basement_activity
      from: 'on'
      to: 'off'
    action:
      service: notify.telegram_test
      data:
        message: Basement closed

  - id: 'telegram_alarm_av'
    alias: 'Telegram bot to notify on disarm'
    trigger:
      platform: state
      entity_id: alarm_control_panel.visonic_alarm
      to: 'disarmed'
    action:
      service: notify.telegram_test
      data:
        message: Avlarmat
  - id: 'telegram_alarm_pa'
    alias: 'Telegram bot to notify on armed'
    trigger:
      platform: state
      entity_id: alarm_control_panel.visonic_alarm
      to: 'armed_away'
    action:
      service: notify.telegram_test
      data:
        message: Larmat Bortaläge
  - id: 'telegram_alarm_pa_hemma'
    alias: 'Telegram bot to notify on armed at home'
    trigger:
      platform: state
      entity_id: alarm_control_panel.visonic_alarm
      to: 'armed_home'
    action:
      service: notify.telegram_test
      data:
        message: Larmat Hemmaläge
  - id: 'telegram_boot'
    alias: 'Telegram bot to notify on boot'
    trigger:
      platform: homeassistant
      event: start
    condition: []
    action:
      service: notify.telegram_test
      data:
        message: Home Assistant on Pi booted
