homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: 57.654864966068295
  longitude: 11.99278482508837
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 70
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: Europe/Stockholm
  # Customization file
  customize: !include customize.yaml

# Show links to resources in log and frontend
#introduction:

system_health:

python_script:

# Enables the frontend
frontend:

# Enables configuration UI
config:

http:
  # Secrets are defined in the file secrets.yaml
  api_password: !secret http_password
  ssl_certificate: /etc/letsencrypt/live/adiels.duckdns.org/fullchain.pem
  ssl_key: /etc/letsencrypt/live/adiels.duckdns.org/privkey.pem

  # Uncomment this if you are using SSL/TLS, running in Docker container, etc.
  # base_url: example.duckdns.org:8123

# Checks for available updates
# Note: This component will send some information about your system to
# the developers to assist with development of Home Assistant.
# For more information, please see:
# https://home-assistant.io/blog/2016/10/25/explaining-the-updater/
updater:
  # Optional, allows Home Assistant developers to focus on popular components.
  # include_used_components: true

# Discover some devices automatically
discovery:

google_assistant:
  project_id: starlit-tangent-230518
  api_key: AIzaSyAdrhjn1qodRSFnkPLzLZFpoEqLTB4rpLs
  exposed_domains:
    - switch
    - light
    - group
    - sensor

ios:

tradfri:
  host: 10.0.198.56
  allow_tradfri_groups: false

telegram_bot:
  - platform: polling
    api_key: 775072004:AAGMK8wlUeULEeB43rPHHDmLL0lglrx20vM
    allowed_chat_ids:
      - 661583528

notify:
  - name: telegram_test
    platform: telegram
    chat_id: 661583528


visonic:
  device:
    type: usb
    path: '/dev/ttyUSB0'
  motion_off: 120
  language: 'EN'
  force_standard: 'no'
  sync_time: 'yes'
  allow_remote_arm: 'yes'
  allow_remote_disarm: 'yes'
  #override_code: !secret larm_kod

mqtt:
  broker: 10.0.198.6
  username: mospi
  password: !secret mqtt_password

sensor:
  - platform: mqtt
    state_topic: 'home/heater/sensors/LVVP_IN/TEMP'
    name: 'LVVP In'
    unit_of_measurement: '°C'
    value_template: '{{value|round(1)}}'
  - platform: mqtt
    state_topic: 'home/heater/sensors/LVVP_OUT/TEMP'
    name: 'LVVP Out'
    unit_of_measurement: °C
    value_template: '{{value|round(1)}}'
  - platform: mqtt
    state_topic: 'home/heater/sensors/TANK_UPP/TEMP'
    name: 'Tank uppe'
    unit_of_measurement: °C
    value_template: '{{value|round(1) }}'
  - platform: mqtt
    state_topic: 'home/heater/sensors/TANK_NER/TEMP'
    name: 'Tank nere'
    unit_of_measurement: °C
    value_template: '{{value|round(1) }}'
  - platform: mqtt
    state_topic: 'home/heater/sensors/FRAM/TEMP'
    name: 'Framledning'
    unit_of_measurement: °C
    value_template: '{{value|round(1) }}'
  - platform: mqtt
    state_topic: 'home/heater/sensors/RETUR/TEMP'
    name: 'Retur'
    unit_of_measurement: °C
    value_template: '{{value|round(1) }}'
  - platform: mqtt
    state_topic: 'home/heater/sensors/ROOM/TEMP'
    name: 'Tank VVX'
    unit_of_measurement: °C
    value_template: '{{value|round(1) }}'
  - platform: mqtt
    state_topic: 'home/heater/sensors/UTE/TEMP'
    name: 'Ute vid badtunna'
    unit_of_measurement: °C
    value_template: '{{value|round(1) }}'
  - platform: mqtt
    state_topic: 'home/heater/sensors/POOL/TEMP'
    name: 'Badtunna'
    unit_of_measurement: °C
    value_template: '{{value|round(1) }}'
  - platform: mqtt
    state_topic: 'home/heater/sensors/SOL/TEMP'
    name: 'Solfangare'
    unit_of_measurement: °C
    value_template: '{{value|round(1) }}'
  - platform: mqtt
    state_topic: 'home/heater/sensors/FILTER_TIME/TIME'
    name: 'Filter Timer'
    unit_of_measurement: min
    value_template: '{{value|round(1) }}'
  - platform: yr
  - platform: command_line
    name: SSL cert expiry
    unit_of_measurement: days
    scan_interval: 10800
    command: "ssl-cert-check -b -c /etc/letsencrypt/live/examplehome.duckdns.org/cert.pem | awk '{ print $NF }'"

binary_sensor:
  - platform: mqtt
    state_topic: 'home/heater/notifiers/POOL/UPDATE_STATUS'
    name: 'Badtunna uppvärmning'
    device_class: power
  - platform: mqtt
    state_topic: 'home/heater/notifiers/FILTER/UPDATE_STATUS'
    name: 'Badtunna filter'
    device_class: power
  - platform: mqtt
    state_topic: 'home/heater/notifiers/VVX/UPDATE_STATUS'
    name: 'Badtunna värmeväxlare'
    device_class: power
  - platform: template
    sensors:
      front_door_open:
        friendly_name: "Entredörren"
        device_class: door
        value_template: "{{ is_state('binary_sensor.visonic_z02', 'on') }}"
      conservatory_activity:
        friendly_name: "Uterumet"
        device_class: motion
        value_template: "{{ is_state('binary_sensor.visonic_z01', 'on') }}"
      basement_activity:
        friendly_name: "Källaren"
        device_class: motion
        value_template: "{{ is_state('binary_sensor.visonic_z03', 'on') }}"
      back_door_open:
        friendly_name: "Altandörren"
        device_class: door
        value_template: "{{ is_state('binary_sensor.visonic_z04', 'on') }}"
  - platform: template
    sensors:
      dark_outside:
        value_template: "{{ is_state('sun.sun', 'below_horizon') }}"
        friendly_name: "Dark Outside"

input_select:
  house_mode:
      name: Mode
      options:
          - Home
          - Away
          - Night
          - Extended Away

input_datetime:
  mockupancy_bedtime:
    has_date: false
    has_time: true
    initial: '23:00'

#homekit:

switch:
  - platform: mqtt
    name: 'Värm badtunnan'
    command_topic: 'home/heater/notifiers/POOL/SET_STATUS'
    state_topic: 'home/heater/notifiers/POOL/UPDATE_STATUS'
    payload_on: 'ON'
    payload_off: 'OFF'
    retain: true
  - platform: tellstick
  - platform: broadlink
    host: 10.0.198.7
    mac: 34:AE:34:6F:A1:06

media_player:
  - platform: broadlink
    name: the amp
    host: 10.0.198.7
    mac: 34:AE:34:6F:A1:06
    ircodes_ini: 'broadlink_media_codes/the_amp.ini'

light:
  - platform: group
    name: Skena över soffa
    entities:
      - light.alex_1
      - light.alex_2
      - light.brollop
      - light.soffbord
      - light.kort
      - light.champion
      - light.hearts
  - platform: group
    name: Skena i finrum
    entities:
      - light.doskalle
      - light.klimt
      - light.rundabordet
      - light.klasen

# Allows you to issue voice commands from the frontend in enabled browsers
conversation:

# Enables support for tracking state changes over time
history:

# View all events in a logbook
logbook:

# Enables a map showing the location of tracked devices
map:

# Track the sun
sun:

logger:
  default: critical
  logs:
    custom_components.visonic: debug
    custom_components.alarm_control_panel.visonic: debug
    custom_components.sensor.visonic: debug
    custom_components.pyvisonic: debug

# influx
#influxdb:
#  host: 127.0.0.1

# Weather prediction
# sensor:
#  - platform: yr

# Text to speech
tts:
  - platform: google

# Grafana
panel_iframe:
  grafana:
    title: 'Stats'
    icon: mdi:elevation-rise
    url: 'http://hassbian.local:3000/dashboard/db/try'

# Cloud
cloud:

group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
